<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @measure_name.name %>
</p>

<%= link_to 'Edit', edit_measure_name_path(@measure_name) %> |
<%= link_to 'Back', measure_names_path %>
