<%- model_class = Measurement -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => Measurement %></h1>
</div>
<%= render :partial => 'form' %>
