<%- model_class = Measurement -%>
<div class="page-header">
  <h1><%=t '.title', :default => Measurement %></h1>
</div>
  <ul class="list-inline">
    <% @measure_names.each do |m| %>
    <li>
      <%= link_to t(m.name, :default => t(m.name)),
        new_measurement_path(:measure_name_id => m.id, :measure_unit_id => @measure_unit_id),
        :class => 'btn btn-primary josiah'%>
    </li>
    <% end %>
  </ul>



<!--  :measure_unit_id => @preferences.measure_unit_id -->